@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    line-height: calc(1em + 0.5rem);
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    color: #335058;
    font-weight: 400;
    font-style: normal;
}

header {
   display: flex;
   justify-content: flex-start;
   padding: 0px 0px 0px 64px;
   background-color: whitesmoke;
   list-style: none;
}

body {
    margin:0;
    width: 100%;
    height: 100%;
}

.body-main {
    display: block;
    max-width: 1920px;
    height: auto;
    padding: 0px 0px 32px 32px;
}

#my-desc {
    display: inline-block;
    padding: 32px;
}

.cover-img {
    display: block;
    max-width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
}

.caption {
    font-style: italic;
}

.contact {
    padding: 32px;
    font-weight: 600;
}

