@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');


/* ------------ MAIN ------------- */

* {
    line-height: calc(1em + 0.5rem);
    background-color: whitesmoke;
    color: #393933;
}

.sedan-regular {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
}
  
.sedan-regular-italic {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: italic;
}

header {
   display: flex;
   justify-content: flex-start;
   padding: 16px 0px 0px 32px;
   background-color: whitesmoke;
   list-style: none;
}

body {
    margin:0;
    width: 100%;
    height: 100%;
}

.body-main {
    display: block;
    max-width: 1920px;
    height: auto;
    padding: 0px 0px 0px 0px;
}

/* ------------ DESC ------------- */

#my-desc {
    display: flex;
    justify-content: right;
    padding: 32px;
    text-align: right;
}


/* ------------ PORT CONT ------------- */

#port-cont {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 32px;
}

.port-dropdown {
    position: relative;
    display: inline-block;
}

.port-butt {
    /*background-color: #E2E2DD;*/
    border-radius: 8px;
    border: solid;
    border-color: #393933;
    border-width: 1px;
    padding: 6px 10px;
    font-size: 22px;
    font-family: "Sedan";
    cursor: pointer;   
}

.port-butt a:hover {
    background-color: #E2E2DD;
}

.drop-content {
    display: none;
    background-color:#E2E2DD;
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 5px #393933;
    z-index: 1;
}


/*
.port-butt:hover + .drop-content {
    display: block;
} 
*/


.drop-content a {
    display: block;
    color: #393933;
    padding: 5px;
}


.drop-content a:hover {
    background-color: #E2E2DD;
}


.contact-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-style: italic;
}

#contact-email {
    display: inline-block;
    align-items: center;
    padding-left: 8px;
}

/* ------------ COVER ------------- */

.cover-img {
    display: block;
    max-width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
}

.caption {
    font-style: italic;
    padding: 0px 32px;
}


/* ------------ FUNCTIONAL ----------  */


/* MEDIA QUERIES */

@media only screen and (max-width:478px) {
    .port-butt {
        font-size: 16px;
        padding: 4px 8px;
    }

    .contact-div h2, p{
        font-size: 12px;
    }
}

