@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');


/* ------------ MAIN ------------- */

* {
    line-height: calc(1em + 0.5rem);
    background-color: whitesmoke;
    color: #393933;
}

.sedan-regular {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
}
  
.sedan-regular-italic {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: italic;
}

header {
   display: flex;
   justify-content: flex-start;
   padding: 64px 0px 0px 32px;
   background-color: whitesmoke;
   list-style: none;
}

body {
    margin:0;
    width: 100%;
    height: 100%;
}

.body-main {
    display: block;
    max-width: 1920px;
    height: auto;
    padding: 0px 0px 0px 0px;
}

/* ------------ DESC ------------- */

#my-desc {
    display: inline-block;
    justify-content: right;
    padding: 32px;
}


/* ------------ PORT CONT ------------- */

#port-cont {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding: 32px;
}

.port-dropdown {
    position: relative;
    display: inline-block;
}

.port-butt {
    background-color: whitesmoke;
    border: #393933;
    padding: 4px 7px;
    font-size: 22px;
    cursor: pointer;   
}

.port-butt a:hover {
    background-color: #E2E2DD;
}

.drop-content {
    display: none;
    background-color:#E2E2DD;
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 5px #393933;
    z-index: 1;
}

.drop-content.show {
    display: block;
}

.drop-content a {
    display: block;
    color: #393933;
    padding: 5px;
}


.drop-content a:hover {
    background-color: #E2E2DD;
}


.contact-div {
    display: inline-block;
    align-items: center;
    font-style: italic;
}

#contact-email {
    display: inline-block;
    align-items: center;
}

/* ------------ COVER ------------- */

.cover-img {
    display: block;
    max-width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
}

.caption {
    font-style: italic;
    padding: 0px 32px;
}


/* ------------ FUNCTIONAL ----------  */



